
.article-content__author_meta {}

.article-author {
    display: flex;
}

.avatar-name {
    line-height: 2.3em;
}

.img-thumbnail {
    border-radius: 50%;
    width: 100%;
}

.post-author__info {
    text-align: left;
    margin-left: 0.4em;
}

a.link_author{
    color: #1A32BA !important;
    font-weight: 500;
}

.post_date {
    line-height: 0.6em;
}

.post_date span {
    color: #969fd6;
    font-size: 0.7em;
}

.bg_bg1{
    background-color: #1A32BA;
    color: #fff;
    }
    

.heart-article {
    border: 3px solid #1a32ba;
    border-radius: 6px;
    line-height: 2em;
    padding: 0 1em;
    cursor: pointer;
}

.article-content__title {
    color: #1A32BA;
}

.article-tag {}

.list-tag {
    list-style: none;
    display: flex;
    cursor: pointer;
    color: #7980a9;
}

ul.list-tag li:first-child {
    margin-right: 1em;
}

ul.list-tag li:last-child {
    margin-left: 1em;
}

ul.list-tag li:not(:first-child):not(:last-child) {
    margin: 0 1em;
}

.item-tag {}

.article-content__body {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}

.description__project__recent {
    height: 43em;
    overflow: hidden;
    position: relative;
}

.thumbnail__project__recent {
    width: 100%;
    filter: brightness(0.5);
    height: auto;
    object-fit: cover;
}

.content_description {
    position: absolute;
    bottom: 21%;
    margin: 0 2em;
}

.pharagraph-desc {
    color: #fff;
    font-size: 2em;
    font-weight: 200;
}

.read-more {
    cursor: pointer;
    color: #7980a9;
}

.read-more{
    border-bottom: 1px solid #969fd6;
}