.articlePreviewV2{
    max-width: 1222px;
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
}
.article-mmeta {
    width: 6.4em;
}



.title-heading {
    margin-top: 3em;
    padding-right: 10em;
}

.title-heading h3 {
    font-weight: 700;
    letter-spacing: 4px;
    word-break: break-word;
    line-height: 53px;
    color: #1A32BA;
}



.ccontent_description {
    position: absolute;
    top: 0;
    padding: 1em;

}

.aarticle-author{
    display: flex;
    flex-direction: row-reverse;
}

