@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color_1: #1A32BA;
    --color_2: #F8F5EE;
}

.App{
    background-color: var(--color_2);
    text-align: center;
}


